.root {
    display: 'flex';
    flex-wrap: 'wrap'; 
    justify-content: 'space-around';
    position: 'relative';
    top: 100;
    padding-top: 20;
}

.gridList {
    width: 1000;
    /* width: 200% !important; */
    height: 900;
    overflow-Y: 'auto';
}